@model Trip

@{
    ViewData["Title"] = " | Trip Details";
}

<h1 class="thead-dark bg-dark" style="text-align: center; color:aqua">Trip Details</h1>

<table class="table table-striped table-sm table-bordered">
    <thead>
    <tr class="thead-dark" table-borderless>
        <th style="color:aqua">Name:</th>
        <th style="color:aqua">@Model.Driver.FullName</th>
    </tr>
    </thead>
    <tbody>
    <tr><td>Date:</td><td>@Model.TripDate.Date</td></tr>
    <tr><td>Trip Actual Start:</td><td>@Model.TripActualStart</td></tr>
    <tr><td>Scheduled Pickup:</td><td>@Model.ScheduledPickup</td></tr>
    <tr><td>Pickup Arrival:</td><td>@Model.PickupArrival</td></tr>
    <tr><td>Actual Pickup:</td><td>@Model.ActualPickup</td></tr>
    <tr><td>Actual DropOff:</td><td>@Model.ActualDropoff</td></tr>
    <tr><td>Scheduled DropOff:</td><td>@Model.ScheduledDropoff</td></tr>
    <tr><td>Trip Actual End:</td><td>@Model.TripActualEnd</td></tr>
    </tbody>
</table>